body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo_nav{
  height:10px;
}

.autorev_logo {
  width:fit-content;
  height:80px;
}

.caption {
  padding: 15px;
  color: white;
}

table, thead, th, tr, tbody, td, h1
{
  color:white;
}

table {
  margin-left: auto;
  margin-right:auto;
}

.list-page {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.table-hover{
  color:white
}


